body{
	background-color: #FFDAB9;
	}

#clearHistory,
#startSpin{
    background: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 10px;
    font-family: Arial;
    color: #ebebeb;
    font-size: 25px;
    padding: 5px 10px 5px 10px;
    border: solid #3189bf 2px;
    text-decoration: none;
    position: absolute;
    margin-top:10px;
}

#clearHistory,
#startSpin {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

#startSpin{
    left: 38%;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline ;   
}

.uncommonList {
    margin-left: 50px;
}

.rareList {
    margin-left: 100px;
}

.legendaryList {
    margin-left: 150px;
}

img {
    border-radius: 10px/20px;
}

.common {
    border: 5px solid #4169E1;
}

.uncommon{
    border: 5px solid #9932CC;
}

.rare {
    border: 5px solid #4B0082;
}

.legendary {
    border: 5px solid #FF8C00;
}

p {
    margin-top: 50px;
    color: #000;
    font: 100%/1.6 palatino, georgia ;
}

h1 {
    color: #000;
    font:georgia ;
}

#slider {
    position: relative;
    border: 1px solid #CCC;
    border-radius: 15px;
    background: #eee;
    display: inline-block;
    width: 332px;
    background:#808080; 
}
#slider img {
    width: 100px;
    height: 100px;  
    display: block;
  }
  
#slider ul {
    height: 108px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: 250ms;
    font-size: 0;
  }

#slider li {
    display: inline-block;
}

#listImage {
    overflow: hidden;
}

#frame {
	position: absolute;
    width: 335px;
    height: 112px;
    background-image: url(../Image/Border.png);
    top:8px;
    margin-left: -0.53px;
}

#listAwards{
    margin-left: -3%;
    width: 600px;
}


#history{
    height: 300px;
    width: 600px;
}
